
.body-bg{
background-color:black;
}

.btn-outline-success {
  color: #C7B550;
}
.btn-outline-success-box{
border: solid 2px #faf7d7;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #C7B550;
  border: solid 2px #faf7d7;
  border-radius:0.25em;
}

.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(199, 181, 80, 0.5);
}

.navbar-nav + li {
color:#C7B550;
}

.column {
float: left;
width: 32%;
padding: 5px;
}
.row::after {
content: "";
clear: both;
display: table;
}
.column + #fn{
colour:#C7B550
}
.fotter{
background-color:grey;
vertical-align:bottom;
}
#fothead{
font-style:italic;
text-align:Center;
font-size:20px;
}
